#image {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    background-color: #f3f3f3;
    background-size: cover;
}

img {
    margin: 10px;
    width: 100px;
    cursor: pointer;
}
